/* ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- -------*/
/* ------- Basic Style ------- */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Roboto Mono" !important;
    background: #0f0f0f !important;
    color: #e7e7e7 !important;
}

.whitespace {
    width: 100%;
    height: 100px;
}

@media(max-width: 737px) {
    .whitespace {
          display: none;
    }
}


/* ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- -------*/
/* ------- Typewriter Effect Style ------- */
.line {
    width: 16em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 13em; }
}

@media(max-width: 768px) {
    @keyframes typewriter {
        from { width: 0; }
        to { width: 13em; }
    }
}

@keyframes blinkTextCussor {
    from { border-right-color: rgba(255, 255, 255, 0.75); }
    to { border-right-color: transparent; }
}


/* ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- -------*/
/* ------- Navigation Bar Style ------- */
/* ------- Basic Style ------- */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

/* ------- Navigation Style ------- */
#contentNavigation {                     /* All the content */
    padding: 10px 20px;                     /* Padding of all content */
    transition: margin-right 0.7s;          /* Time to close the slidebar */
    overflow: hidden;                       /* No overflow from content */
    width: 100%;                            /* Width content can use */
    background: #0f0f0f;                  /* Background color of navbar */
    height: 80px;                           /* Height of navbar */  
    position: fixed;
    z-index: 1;
}

/* -- Large screens -- */
#standardNavigation {                    /* Navigation on large screens */
    float: left;                            /* Standard floating on the left */
    position: fixed;
    height: 80px;
}

#standardNavigation #brand {
    float: left;
    display: block;
    margin-left: 52px;
    line-height: 80px;
    font-weight: bold;
}

#standardNavigation a {                  /* The links and logo on standard */
    text-decoration: none;                  /* No decoration on links */
    color: #e7e7e7;                       /* Color of links */
}

#standardMenu{
    float: left;
    right: 60px;
    position: fixed;
}

#standardMenu a {
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 120;
    line-height: 80px;
    position: relative;
}

@media screen and (max-width: 737px) {  /* When screen size is less then 767px */
    #standardMenu {                         /* Then standard menu */
        visibility: hidden !important;      /* Becomes hidden */
    }
}

/* -- Small screens -- */
@media screen and (min-width: 738px) {  /* When screen size is at least 768px */
    #resizeNavigation {                     /* Then resize menu*/
        visibility: hidden !important;      /* Becomes hidden */
    }
}

.slideNavigation {                       /* The full slidebar */
    height: 100%;                           /* Height of slidebar that slides out */
    width: 0;                               /* Width of slidebar when not in use */
    position: fixed;                        /* Position is fixed while scrolling */
    z-index: 2;                             /* Places the links on top of backgroundcolor */
    top: 0;                                 /* Space between top of page and slidebar */
    right: 0;                               /* Space between left of page and slidebar */
    background-color:  #0f0f0f;           /* Color of the background */
    opacity: 1;                             /* Gives the background a tone */
    overflow-x: hidden;                     /* Links won't overflow horizontally */
    padding-top: 60px;                      /* Height between top of slidebar and links */
    transition: 0.7s;                       /* Transition speed for slide of slidebar */
}

.slideNavigation a {                     /* All the hyperlinks */
    display: block;                         /* Dispay vertically */
    padding: 20px 30px;                     /* Padding between text and sides */
    font-size: 16px;                        /* Size of font */
    text-decoration: none;                  /* Blue lines gone */
    color: #CCC;                          /* Text color */
}

.slideNavigation a:hover {               /* Hovering over the hyperlinks */
    color: #e7e7e7;                       /* Text color when hovering over it */
    transition: 0.4s;                       /* Transition for the color change when hovoring */
}

.slideNavigation .closeSlide {           /* Closing icon */
    position: absolute;                     /* Absolute placement for close icon */
    top: 8px;                                 /* Height between top and close icon */
    font-size: 24px;                        /* Size of close icon */
    left: 180px;                            /* Space between right and close icon */
}

.openSlide a {                           /* Open icon */
    color: #e7e7e7;                       /* Color of open icon */
    font-size: 24px;                        /* Size of open icon */
    right: 20px;                            /* Space between right and open icon */
    position: absolute;                     /* Absolute placement for open icon */
    padding-top: 18px;                      /* Padding between top and open */
}

.openSlide a:hover {
    color: #e7e7e7;
}


/* ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- -------*/
/* ------- Hero Section Style ------- */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: -2px;
    line-height: 58px;
}

@media(max-width: 737px) {
    .header h1 {
        font-size: 26px;
    }
}


/* ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- -------*/
/* ------- Top Product List Style ------- */
img {
    width: 100%;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section p {
    font-size: 24px;
    font-weight: 300;
}

.product {
    margin-top: 20px;
    float: left;
    width: 20%;
    padding: 2%;
    margin-bottom: 8%;
}

.product a {
    text-decoration: none !important;
}

.shop {
    margin-left: 2%;
}

.learn a {
    color: grey !important;
}

.product:hover a {
    text-decoration: none !important;
}

#product-desc {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
}

.product-sec {
    width: 101%;
}

.product-sec p {
    font-size: 24px;
    font-weight: 300;
}

@media(max-width: 900px) {
    .product-sec {
          padding-left: 30px;
          width: 100%;
          border: none;
    }

    .product-sec a {
          display: none;
    }
}

#price {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.product-list #product-desc {
    color: grey;
}


/* ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- -------*/
/*--------------- learn more section --------------- */
.contentLearnMore {
    float: left;
    left: 80px;
}

.contentLearnMore a:hover {
    text-decoration: none;
}


/* ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- -------*/
/*--------------- footer section --------------- */
.collab {
    text-align: right;
    margin-left: 5%;
    margin-right: 5%;
}

.collab p {
    font-weight: lighter !important;
    margin-bottom: 20px;
}

.hr {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}

.info {
    margin-left: 5%;
    margin-right: 5%;
}

.info h4 {
    font-size: 16px;
    font-weight: lighter;
}

.info p {
    color: grey;
    font-weight: lighter;
}

#copywrite {
    float: left;
}

#address, #mail {
    text-align: right;  
}

@media(max-width: 737px) {
    .collab, #copyright, #address, #mail {
          text-align: center;
    }
}


/* ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- ------- -------*/
/* ------- Products Page ------- */
.whitespaces {
    height: 100px;
}

.collection {
    padding: 40px 0;
}

.collection #heading {
    font-family: "Roboto Mono" !important;
    font-size: 20px;
    margin-left: 15px;
    padding-bottom: 0;
    position: relative;
    display: inline-block;
}

#heading::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #ece1b6;
}

.collection .section {
    margin: -50px 0;
}
